[submodule "houdini"]
	path = houdini
	url = https://github.com/Walainski/houdini.git
[submodule "dash"]
	path = dash
	url = https://github.com/Walainski/dash.git
[submodule "snowflake"]
	path = snowflake
	url = https://github.com/Lekuruu/snowflake.git
[submodule "vanilla-media"]
	path = vanilla-media
	url = https://gitea.com/Walainski/vanilla-media.git
