<!DOCTYPE html>
{{/*
─── Dockerize Template ────────────────────────────────────────────────────────────────────────
Rendered into `/usr/share/nginx/vanilla/play/index.html` with `docker compose restart web` 
Reference: https://github.com/jwilder/dockerize#using-templates
*/}}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Play Now! | Club Penguin</title>
    <link type="text/css" rel="stylesheet" href="/sites/default/files/css/css_5AoaSUlnRluwt_SO1GRzTQdCdcJf0Aw-MqGesNvp_6Y.css" media="all" />
    <script>
      {{- /* Protocols */}}
      {{- $WS_PROTOCOL := "ws" }}{{- if isTrue .Env.TLS_ENABLED }}{{- $WS_PROTOCOL = "wss" }}{{- end }}
      {{- $HTTP_PROTOCOL := "http" }}{{- if isTrue .Env.TLS_ENABLED }}{{- $HTTP_PROTOCOL = "https" }}{{- end }}
      {{- /* Addresses */}}
      {{- $GAME_ADDRESS := .Env.GAME_ADDRESS }}
      {{- $PLAY_DOMAIN := (parseUrl .Env.WEB_VANILLA_PLAY).Host }}
      {{- $WEBSOCKET_PLAY_URL := printf "%s://%s" $WS_PROTOCOL $PLAY_DOMAIN }}
      {{- $WEBSOCKET_LOGIN_PORT := add (atoi .Env.GAME_LOGIN_PORT) 1000 }}
      {{- /*
      socketProxy maps TCP game server ports to WebSocket proxy URLs.
      houdini-websockets bridges WS back to TCP on the server side (port + 1000 convention).
      */ -}}
      (window.RufflePlayer ??= {}).config = {
        socketProxy: [
          {{- range $port := list (atoi .Env.GAME_LOGIN_PORT) 9875 9876 9877 9878 }}
          { host: "{{ $GAME_ADDRESS }}", port: {{ $port }}, proxyUrl: {{ printf `"%s:%d"` $WEBSOCKET_PLAY_URL (add $port 1000) }} },
          {{- end }}
        ],
        maxExecutionDuration: 120,
        fontSources: [{{ printf `"%s/%s"` .Env.WEB_VANILLA_MEDIA "play/v2/client/fonts/en/FontLibrary.swf" }}],
        splashScreen: false,
        autoplay: "on",
        unmuteOverlay: "hidden",
      };
    </script>
    {{ if eq .Env.RUFFLE_MODE "cdn" }}
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
    {{ else }}
    <script src="/ruffle/ruffle.js"></script>
    {{ end }}
  </head>

  <body>
    <div class="page clearfix" id="page">
      <header id="section-header" class="section section-header">
        <div id="banner"></div>
      </header>
      <main id="content"></main>
    </div>

    <script type="text/javascript" src="/sites/default/files/js/js_jpJjaUC0z8JMIyav5oQrYykDRUb64rpaUDpB4Y9aklU.js"></script>
    <script type="text/javascript" src="/sites/default/files/js/js_32OCC7TUXcQ26myiC_PKkpvoU5ltaaDe8niVutpKtrA.js"></script>
    <script type="text/javascript" src="/sites/default/files/js/js_WDaYo-25YBhRo3AvoKzxvgFzAfWWLPZ9T-71faUlHj8.js"></script>
    <script type="text/javascript" src="/sites/default/files/js/js_HbFTUN2pKM9AIYs88RAyetbRRbaBp_PaIXfgtECrvTU.js"></script>
    <script type="text/javascript" src="/sites/default/files/js/js_o2ds7CQye0F4k9GwyDZAYk9dJY5NEBiGnH_iynlnt0s.js"></script>

    <script type="text/javascript">
      var media = "{{ .Env.WEB_VANILLA_MEDIA }}/";
      jQuery.extend(Drupal.settings, {
        "colorbox": {"opacity":"0.85","current":"{current} of {total}","previous":"« Prev","next":"Next »","close":"Close","maxWidth":"100%","maxHeight":"100%","fixed":true},
      "snowball_banner": {"membershipDaysRemaining":"You have <strong>%daysRemaining% Days<\/strong> left in your membership","membershipLastDay":"Today is the <strong>last day<\/strong> of your membership.","membershipAbout":"About Membership","preActivationDaysRemaining":"You can waddle around without activating for: <strong>%daysRemaining% Days<\/strong>","preActivationHoursRemaining":"You can waddle around without activating for: <strong>%hoursRemaining% Hours<\/strong>","preActivationLastHour":"You have less than one hour to activate your account. Unactivated accounts will be deleted.","preActivationAbout":"About Activation"},
        "snowball": {"language":"en","langPath":"\/en\/","countryCode":"US","visitorType":"","affStyle":"0","promotionString":"1","cssJsQueryString":"om3jak"},
        "flash_game_settings": {"recommendedSwfVersion":"12.0.0.44","minimumSwfVersion":"10.1","loadSwf":media + "play\/v2\/client\/club_penguin.swf?clientVersion=21639","baseUrl":media + "play\/","clientDirectory":media + "play\/v2\/client\/","contentDirectory":media + "play\/v2\/content\/","gamesDirectory":media + "play\/v2\/games\/","connectionID":"cp68294","lang":"en","a":null,"nau":"","nal":"","nas":"","nad":"","cacheVersion":"","clientVersion":"21639","configVersion":"1485906035","contentVersion":"84421","minigameVersion":"13162","swfAddressUrl":"\/sites\/play.clubpenguin.com\/libraries\/swfaddress\/swfaddress.js?om3jak"},
        "mp_game_settings": {"minimumSwfVersion":"11.3","loadSwf":media + "game\/mpassets\/\/playclients\/r3662\/flash_client_base_fp11.swf","product":"cjsnow","baseAssetUrl":media + "game\/mpassets\/","assetServer":media + "game\/mpassets\/","assetSeed":media + "game\/mpassets\/","manifestUrl":"<base_asset_url>\/publishdata\/r5309\/manifest\/manifest_tokenized.json","wns":"{{ (parseUrl .Env.WEB_VANILLA_PLAY).Host }}","lang":"en_US","SWF_ERRORS":media + "game\/mpassets\/\/minigames\/cjsnow\/en_US\/deploy\/swf\/ui\/assets\/ErrorMessages.swf","SWF_LOADER":media + "game\/mpassets\/\/minigames\/cjsnow\/en_US\/deploy\/swf\/ui\/assets\/cardjitsu_snowbetapreloader.swf","PLACE":"snow_lobby","affLangDir":"\/en","productName":"cjsnow"},
        "misc_game_settings": {"affLang":"en","expressInstallSwfUrl":"\/sites\/play.clubpenguin.com\/themes\/snowball\/swf\/expressInstall.swf","devMode":"DEBUG_MODE","promotionString":null,"nau":"","nal":"","nas":"","nad":"","phraseChatUrl":media + "social\/autocomplete\/v2\/search\/","friendsUrl":"\/js\/disney-friends-ostrta-min.js?v=1.3.57","createUrl":"\/en\/penguin\/create","nameResubmissionUrl":"\/en\/penguin\/update-username","sendActivationMailUrl":"\/en\/penguin\/resend-activation-email"}
      });
    </script>
    
  </body>
</html>
